
/*
/////////////////////////////////////////////////////////////////////////////////////
*/
/* testimonials */
.testimonials{
    padding:5em 0;
    background: #232323;
}
.testimonials-grid-1 {
    width: 200px;
}
.w3-testimonials-head h3 {
    color: #fff;
}

.testimonials h5 {
    font-size: 25px;
    color: #fff;
}
.w3l-info1 h1{
    font-size: 3em;
    color: #000;
    text-transform: uppercase;
    line-height:1.4em;
    letter-spacing:0.2em;
    font-weight: 900;
}
.w3l-info1 p {
    font-size: 15px;
    color: #ccc;
    letter-spacing: 1px;
    line-height: 1.8em;
    margin-top: 20px;
    margin-bottom:15px;
    padding-right: 60px;
}
.w3l-info1 h3 {
    font-size: 3em;
    color:#999;
}
.testimonials h5 {
    font-size: 16px;
    color: #eee;
    margin-top: 10px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.testimonials i.fa.fa-quote-left {
    margin-right: 1em;
    color: #da9d40;
}
.testimonials i.fa.fa-quote-right {
    margin-left: 1em;
    color: #da9d40;
}
.testimonials h4 {
    font-size: 22px;
    color: #000;
    text-transform: uppercase;
    color: #da9d40;
}
.flexslider .slides > li {
    display: block;
}

/*
/////////////////////////////////////////////////////////////////////////////////////
*/
/* //testimonials */


@media(max-width: 1280px){

    .about, .w3-services, .team-section, .packages, .testimonials, .special, .contact {
        padding: 4em 0;
    }

}

    @media(max-width: 991px){

        .testimonials-grid-1 {
            width: 200px;
            float: left;
        }
        .testimonials-grid-2 {
            float: left;
            width: 72%;
            padding: 0;
        }

    }

@media(max-width: 767px){

    .about, .w3-services, .team-section, .packages, .testimonials, .special, .contact {
        padding: 3em 0;
    }

}
    @media(max-width: 736px){

        .testimonials-grid-2 {
            float: left;
            width: 70%;
            padding: 0;
        }

    }
    @media(max-width: 667px){

        .testimonials-grid-2 {
            float: none;
            width: 100%;
            padding: 0 15px;
        }
        .testimonials-grid-1 {
            width: 200px;
            float: none;
            margin-bottom: 20px;
        }

    }

@media(max-width: 480px){

    .w3l-info1 p {
        font-size: 13px;
        padding-right: 10px;
    }
    .testimonials h4 {
        font-size: 20px;
    }
    .testimonials h5 {
        font-size: 15px;
    }

}
